* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: monospace, Arial, Helvetica, sans-serif, sans-serif;
    line-height: 1.6;
}

header {
    background-image: url("../pictures/street.jpg");
    /* background: #333; */
    color: #fff;
    padding: 1rem 0;
}

header h1 {
    margin: 0;
    font-size: 3.5rem;
}

header p {
    font-size: 1.2rem;
}

header nav {
    margin-top: 1rem;
}

header nav ul {
    list-style: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin-right: 20px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    padding-top: 100px;
}


section {
    padding: 2rem 0;
}

h2 {
    color: #333;
    font-size: 2rem;
    margin-bottom: 1rem;
}

ul {
    list-style-type: disc;
    padding-left: 20px;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    margin-top: 2rem;
}


  
img {
    height: auto;
    padding: 1%;

    /* float:center; */


    /* object-fit: cover */
  
}

a {
    color: #333;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


.profile-img {
    overflow: hidden;
    border-radius: 20%;
    -webkit-filter: grayscale(30%); /* Safari 6.0 - 9.0 */
    filter: grayscale(30%);
}

.white {
    color: rgb(205, 220, 255);
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    

}

.blur {
    backdrop-filter: blur(20px);
    overflow: hidden;
    border-radius: 25px;
    padding: 1%;
}

.center {
    text-align: center;
    align-items: center;
    align-content: center;
}



/* Responsive Design */
@media (max-width: 768px) {
    header h1 {
        font-size: 2rem;
    }

    header nav ul li {
        display: block;
        margin: 10px 0;
    }

    .profile-img {
        height: 7rem;
    }    
}
